/* ### Common ### */

.landing {
  background-color: #f5f5f5;

  ol, ul {
    list-style: none;
  }

  p code {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px 5px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
  }

  h2 {
    text-align: center;
    font-weight: 200;
    line-height: 38px;
    margin: 20px auto 0;
    font-size: 21px;
    max-width: 740px;
  }

  .page h1.title {
    margin-top: 25px;
  }

  h4 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1em;
    -webkit-backface-visibility: hidden;
  }

  p {
    margin: 15px 0 30px;
    font-weight: 300;
    line-height: 1.7em;
  }

  em {
    font-style: italic;
  }

  /*
  textarea {
    border: none;
    background-color: transparent;
    width: 400px;
    outline: none;
  }

  .logo {
    display: block;
    width: 169px;
    margin: 0 auto;
  }*/

  #hero-spot {
    padding: 40px 0 0;
    position: relative;
    overflow: hidden;
    background: #222;
  }

  .shadow-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9px;
    background: url(../images/section-shadow.png) repeat-x;
  }

  .tabs {
    display: inline-block;
    margin: 45px auto 0;
    font-size: 0;
  }

  .question .tabs {
    margin: 30px auto 0;
  }

  .tabs li {
    display: inline-block;
    margin: 0;
    font-size: 15px;
  }

  .tabs li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .tabs li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .tabs li:nth-child(even) a {
    margin: 0 -1px;
  }

  .tabs a {
    color: #323232;
    background-color: #fff;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #dddddd;
    position: relative;
    line-height: 1em;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }

  .question .tabs a {
    background-color: #fcfcfc;
  }

  .tabs a:hover {
    color: #327fc7;
    border-color: #327fc7;
    z-index: 10;
  }

  .tabs a.selected {
    z-index: 20;
    color: #fff;
    background-color: #327fc7;
    border-color: #327fc7;
    outline: none;
  }

  /* Tutorials */

  .tutorial-list {
    margin-top: 90px;
    counter-reset: tutorialstep;
    display: none;
    padding-left: 0;
  }

  .tutorial-list.active {
    display: block;
  }

  .tutorial-list > li {
    position: relative;
    background-color: #fff;
    margin: 0 0 70px 0px;
    padding: 40px 0 60px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    z-index: 1;

    -webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
  }

  .tutorial-list .image-right {
    padding-right: 440px;
  }

  .tutorial-list .image-right p {
    margin-left: 30px;
    margin-right: 30px;
  }

  #create-repo-step {
    background: #fff url(../images/snapshot_events.png) right 0 no-repeat;
    background-size: 446px 344px;
  }

  #setup-in-desktop {
    background: #fff url(../images/snapshot_voucher.png) no-repeat right 0;
    background-size: 443px 303px;
  }

  .tutorial-list .animate-in {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
  }

  .tutorial-list p {
    margin: 30px 120px 30px;
  }

  .tutorial-list p:last-child {
    margin-bottom: 0;
  }

  .tutorial-list .right-image p, .tutorial-list .right-image h4 {
    margin-left: 30px;
  }

  .tutorial-list li .full-size {
    margin-bottom: -66px;
    max-width: 90%;
  }

  .tutorial-list .hidden {
    display: none;
  }

  .tutorial-list .question {
    text-align: center;
  }

  .tutorial-list > li:last-child:before {
    content: "";
    position: absolute;
    left: -55px;
    top: 0;
    height: 105%;
    width: 10px;
  }

  .tutorial-list .right {
    margin: -45px 0 0 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .details {
    font-size: 14px;
    font-weight: 400;
  }

  .tutorial-list .question:after {
    content: "?";
  }

  .tutorial-list > li:not(.question):after {
    counter-increment: tutorialstep;
    content: counter(tutorialstep);
  }

  .tutorial-list > li:after {
    width: 58px;
    height: 58px;
    line-height: 58px;
    background-color: #327fc7;
    border-radius: 200px;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    position: absolute;
    left: -15px;
    top: -15px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    z-index: 100;
  }

  .hero-octicon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    border: solid 1px #e5e5e5;
    margin: 0 auto 15px;
    display: block;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }

  .hero-octicon:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .next-steps .hero-octicon {
    margin-bottom: 35px;
  }

  .shell {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 17px;
    line-height: 28px;
    color: #eeeb82;
    background-color: #3d3d3d;
    overflow: hidden;
    padding: 20px;
    margin: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: left;
    display: block;
  }

  .tutorial-list .shell p {
    margin: 0;
    font-weight: bold;
    -webkit-backface-visibility: hidden;
  }

  .path {
    color: #71cfee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 0.6em;
  }

  .prompt {
    color: #d74d52;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 0.6em;
  }

  /* end Tutorials */

  /* Next steps */

  .next-steps {
    margin-top: 80px;
  }

  .next-steps p {
    font-weight: 400;
  }

  .next-steps li {
    display: table-cell;
    text-align: center;
    padding: 0 20px 0;

    -webkit-transition: opacity 0.8s ease-in-out 0s;
    -moz-transition: opacity 0.8s ease-in-out 0s;
    -ms-transition: opacity 0.8s ease-in-out 0s;
    -o-transition: opacity 0.8s ease-in-out 0s;
    transition: opacity 0.8s ease-in-out 0s;
  }

  .next-steps .animate-in {
    opacity: 0;
  }

  .next-steps li:first-child, .next-steps li:last-child {
    padding-left: 0;
    padding-right: 0;
  }

  .next-steps .custom-urls {
    -webkit-transition-delay: 0.15s;
    -moz-transition-delay: 0.15s;
    -ms-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }

  .custom-urls .mega-octicon {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .next-steps .guides {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  /* end next steps */

  .site-footer-links li {
    display: inline-block;
    margin-left: 10px;
  }

  .site-footer-links li:first-child {
    margin-left: 0;
  }

  .left {
    float: left;
  }
}