<div>
  <h1>How to
    <small>(visible for non registered users)</small>
  </h1>

  <p class="lead">
    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
    nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  </p>
  <button type="button" class="btn btn-primary btn-lg">Sign up</button>
</div>
<hr>
<div>
  <h1>Last congresses</h1>

  <p class="lead">
    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
    nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    <br>

    <a ng-href="#congresses">See all congresses (redirects to signup if not registered)</a>
  </p>
</div>
<hr>
<div>
  <h1>My videos
    <small>(visible for logged users with videos owned)</small>
  </h1>

  <p class="lead">
    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
    nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    <br>
    <a ng-href="#congresses">Obtain more videos</a>
  </p>
</div>
<hr>
<div>
  <h1>How to Collaborate</h1>

  <p class="lead">
    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
    nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    <br>
    <a ng-href="#collaborate">More info</a>
  </p>
</div>