<div class="container">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#events">Events</a></li>
    <li><a ng-href="#events/{{event.id}}">{{event.title}}</a></li>
    <li class="active">{{talk.title}}</li>
  </ol>
  <div class="row">
    <div class="col-md-12">
      <h2>{{talk.title}}</h2>
      <p class="lead">
        <span class="label label-default">Preview</span>
        <a class="text-danger" href="">Purchase</a> the event or <a class="text-danger" href="">use a code</a> to watch the entire video.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div fmt-player src="http://demosite.ondemand.flumotion.com/demosite/ondemand/mp4/pajaro_low.mp4" style="height: 300px; padding-bottom: 20px;"></div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <p ng-show="event.organizer.logo" class="text-center">
            <a ng-href="{{event.organizer.website}}" target="_blank" class="thumbnail"><img ng-src="{{event.organizer.logo}}"></a>
          </p>
          <p><span class="glyphicon glyphicon-map-marker"></span> {{event.location}}</p>
          <p><span class="glyphicon glyphicon-time"></span> {{talk.start_time|date}}. {{talk.start_time|date:'shortTime'}}</p>
          <a ng-if="talk.speaker.picture" class="thumbnail text-center" style="width: 170px; height: 170px; margin: auto;">
            <img ng-src="{{talk.speaker.picture}}">
          </a>
          <h5>{{talk.speaker.name}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="lead" style="margin-bottom: 10px;">{{talk.abstract}}</p>
      <p ng-if="talk.link"><a ng-href="{{talk.link}}"><span class="glyphicon glyphicon-link"></span> {{talk.link}}</a></p>
    </div>
  </div>
</div>
